.App {
  text-align: left;
  margin: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: auto;
  width: 1000px;
}

.header-div {
  display: flex;
  justify-content: space-between;
  
}

.header-logo {
  float: left;
} 

.blog-div {
  float: left;
  width: 300px;
}


.blog-name {
  font-weight: bold;
  font-size: 1.5em;
  font-family: cursive;
}

.blog-caption {
  font-size: 0.85em;
  color: gray;
}

.title-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 60px;
}


.title-text {
  font-weight: bold;
  font-size: 2em;
}

.subtitle-text {
  color: gray;
  
}

.print-div {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  color: gray;
  font-size: .85em;
}