body {
  margin: auto;
  padding: 50px;
  width: 900px;
}

.header-div {
  display: flex;
  justify-content: space-between;
  
}

.header-logo {
  float: left;
} 

.blog-div {
  float: left;
  width: 300px;
}


.blog-name {
  font-weight: bold;
  font-size: 1.5em;
  font-family: cursive;
}

.blog-caption {
  font-size: 0.85em;
  color:rgb(117, 117, 117);
}

.title-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 60px;
}


.title-text {
  font-weight: bold;
  font-size: 2em;
}

.subtitle-text {
  color:rgb(117, 117, 117);
  
}

.print-div {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  color: rgb(117, 117, 117);
  font-size: .85em;
}

.ingredients  {
  width: 100%;
  font-family: serif;
  position: relative;
  text-align: center;
  font-size: 1.25em;
  color: rgb(117, 117, 117);
}


.list-style {
  position: relative;
  text-align: left;
  top: 8px;
  left: 70px;
  color: rgb(117, 117, 117);
  align-items: flex-start;    
}

input[type=checkbox]:checked + label.strikethrough {
  text-decoration: line-through;
}

.footer-logo, .final-text {
  text-align: center;
}

.share-button {
  float: right;
}

button {
  background-color: rgb(205, 92, 92);
}




.notepad-image {
  width: 100%;
  position: relative;
  text-align: center;
}

.list-one {
  position: absolute;
  top: 8px;
  left: 16px;
  color: rgb(117, 117, 117);
  align-items: flex-start;    
}

.list-two {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
  right: 16px;
  color: rgb(117, 117, 117);
  align-items: flex-start;
}