.App {
  text-align: left;
  margin: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin: auto;
  width: 1000px;
}

.header-div {
  display: flex;
  justify-content: space-between;
  
}

.header-logo {
  float: left;
} 

.blog-div {
  float: left;
  width: 300px;
}


.blog-name {
  font-weight: bold;
  font-size: 1.5em;
  font-family: cursive;
}

.blog-caption {
  font-size: 0.85em;
  color:rgb(117, 117, 117);
}

.title-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 60px;
}


.title-text {
  font-weight: bold;
  font-size: 2em;
}

.subtitle-text {
  color:rgb(117, 117, 117);
  
}

.print-div {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  color: rgb(117, 117, 117);
  font-size: .85em;
}

.ingredients {
  width: 100%;
  font-family: serif;
  position: relative;
  text-align: center;
  font-size: 1.25em;
  color: rgb(117, 117, 117);
}

.list-one {
  position: absolute;
  text-align: left;
  top: 8px;
  left: 70px;
  color: rgb(117, 117, 117);
  align-items: flex-start;    
}

.list-two {
  position: absolute;
  text-align: left;
  top: 8px;
  right: 40px;
  color: rgb(117, 117, 117);
  align-items: flex-start;
}

input[type=checkbox]:checked + label.strikethrough {
  text-decoration: line-through;
}